.site-title {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    font-size: 10em;
}

header {
    background-color: orangered;
}

.site-branding {
    background-color: blue;
}

.page-title{
    margin: 0;
    padding: 0;
    background-color: green;
}